[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
coverage = "*"
Sphinx = "*"
jupyterlab = "*"

[packages]
src = {editable = true, path = "./"}
awscli = "*"
boto3 = "*"
trino = "*"
pandas = "*"
pyarrow = "*"
python-dotenv = "*"
python-Levenshtein = "*"

[requires]
python_version = "3.8"
