[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sparsezoo = "*"
ipywidgets = "*"
jupyterlab-widgets = "*"
pandas = "*"
boto3 = "*"
torch = "<1.9"
transformers = "*"

[dev-packages]

[requires]
python_version = "3.8"
